body {
    background-image: url("https://c1.wallpaperflare.com/preview/907/581/284/backdrop-background-blank-board.jpg");
    display: flex; 
}

.App-header {
    background-color: blue;
}

/* .board {
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px
} */

SidePanel {
    background-color: pink;
}
/* 
.card {
    background-color: rgb(241, 236, 85);
} */
