body {
    background-image: url("https://c1.wallpaperflare.com/preview/907/581/284/backdrop-background-blank-board.jpg");
}

.App {
    display: grid; 
    grid-template-columns: 19.9% 80.1% 50%; 
    grid-template-rows: 9.4% 90.6% 50%; 
    gap: 10px 10px; 
    grid-template-areas: 
        "App-header App-header App-header"
        "sidepanel board board"
        "sidepanel board board"; 
}

.App-header { grid-area: App-header; }
.sidepanel { 
    grid-area: sidepanel;  
}
.board { grid-area: board; }
