Skip to content
sjolivas
/
front-end-inspiration-board
forked from Ada-C16/front-end-inspiration-board
Code
Pull requests
Actions
Wiki
0
More
front-end-inspiration-board/src/index.css
@sjolivas
sjolivas experiment
 History
 1 contributor
264 lines (227 sloc)  4.65 KB
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

body {
  background-image: url("https://c1.wallpaperflare.com/preview/907/581/284/backdrop-background-blank-board.jpg");
  color: #006d77
}

/* Main App Container */
.App {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 25% 31.5fr 21.5fr 22fr;  
  grid-template-rows: 20% 80%; 
  gap: 20px; 
  grid-template-areas: 
    "App-header App-header App-header App-header"
    "sidepanel board board board"; 
  padding-left: 20px
}

.App-header { 
  grid-area: App-header;
  display: block;
  text-align: center;
  line-height: 10px;
	font-size: 25px;
  margin-bottom: 50px;
}

.sidepanel { 
  grid-area: sidepanel;
  min-height: 250px;
  width: 200px;
}

.board { grid-area: board; }

/* SidePanel Container*/
.sidepanel-main {
  background: #ffdede;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.board-main {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, .5fr));
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px
}

.card-main {
  background-color: #fffcab;
  overflow-wrap: break-word;
  border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
  max-height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

/* Creating New Card */
.card-main.create-card { 
  background-color: #d8f3dc;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.board-selector { 
  grid-area: board-selector;
  display: grid;
  grid-gap: 10px;
}

/* Create New Board */
.create-new-board { 
  grid-area: create-new-board;
  text-align: center;
  width: 250px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.BoardForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

span.error {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 15px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

/* inputs */
input {
  border-radius: 5px;
  border: #006d77 solid;
}

/* Card Colors */
.card-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

/* Card Color Options - displayed on buttons */
button#red, .color-change-red{
  background-color: #ffadad;
}

button#orange, .color-change-orange{
  background-color: #ffd6a5;
}

button#yellow, .color-change-yellow{
  background-color: #fdffb6;
}

button#green, .color-change-green{
  background-color: #d8f3dc;
}

button#blue, .color-change-blue{
  background-color: #caf0f8;
}

button#purple, .color-change-purple {
  background-color: #dee2ff;
}

/* Text Area for CreateCard */
textarea {
  background-color: #d8f3dc;
  color: #006d77;
  font-weight: bold;
  border: none;
  resize: none;
  overflow: auto;
  border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
  max-height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
  
}

textarea:focus {
  outline:none;
}

/* Select Option Dropdowns */
.select-style select {
  border-radius: 3px;
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  appearance: none;
}

select:hover {
  cursor: pointer;
}

/* All Buttons */
button {
	padding: 5px 10px;
	border-radius: 50px;
	color: #006d77;
  border: #006d77 solid;
	background: #fff;
	margin-bottom: 10px;
	box-shadow: 0 3px 20px 0 #0000003b;
}

button:hover {
  background-color: #7B2CBF;
  cursor: pointer;
  color: white;
  font: Helvetica;
}

.delete-icon {
  cursor: pointer;
}

.like-icon {
  cursor: pointer;
}
